//====================================================================================================
.page{
}
.menu {
  display: flex;
  height: 1000px;
  @include adaptiveValue("height", 1000,500,600,320);
  &__container{

  }
  // .menu__body
  &__body {
    background-color: #303640;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 0 0 ;
    flex: 1 0 170px;
    @media (max-width: $tablet) {
      position: fixed;
      flex: 1 1 170px;
      height: 1000px;
      @include adaptiveValue("height", 1000,500,600,320);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(30);
      top: 0;
      left: -100%;
      transition: all 0.3s ease 0s;
      background-color:#1b2327 ;
      padding-top: rem(20);
      .menu-open &{
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
  }

  // .menu__list
  &__list {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // .menu__item
  &__item {
    position: relative;
    overflow: hidden;
    color: #a6aab4;
    transition: color 0.8s ease 0s;
  }
.menu__item:hover,
.menu__item._active{
  color: #fff;
}
  // .menu__link
  &__link {
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 80px 20px 30px;
    display: block;
  }

  // .menu__active
  &__active {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 100%;
  }
  &__active span{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    border-radius: 0 5px 5px 0;
  }
}
//._active{
//  &__active span{
//    height:56px;
//    top: 50px;
//  }

//}
.menu__body{
  border: 1px solid transparent;
  box-shadow: inset 0 0 15px 0 transparent;
}
.loaded .menu__body{
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.6s ease 0s;
}
.menu__link{
  transform: translate(-100%, 0);
}
.loaded .menu__link{
  transform: translate(0, 0);
  transition: transform 1s ease;
}
.loaded .menu__item:nth-child(1) .menu__link{
  transition-delay: 0.2s;
}
.loaded .menu__item:nth-child(2) .menu__link{
  transition-delay: 0.4s;
}
.loaded .menu__item:nth-child(3) .menu__link{
  transition-delay: 0.6s;
}
.loaded .menu__item:nth-child(4) .menu__link{
  transition-delay: 0.8s;
}
.menu__active{
  transform: translate(-100%, 0);
}

.loaded .menu__active{
  transform: translate(0, 0);
  transition: transform 0.5s ease 2s;
}

//====================================================================================================
.earth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 85%;
  background: linear-gradient(90deg, rgba(0,0,0,0.6362920168067228) 0%, rgba(0,0,0,0.6362920168067228) 100%),url('../img/mountain.jpeg') 10% 35% / cover no-repeat;

  //.earth__content
  &__content{

  }
  // .earth__body
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    @media (max-width: em(829.98)) {
      justify-content:center;
      gap: rem(50);
    }
  }

  // .earth__title
  &__title {
  }

  // .earth__button
  &__button {
  }

.title {
  font-size: rem(70);
  @include adaptiveValue("font-size", 70, 23, 600,320);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}
}

.text {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.grad{
  border: 2px solid;
  border-image:radial-gradient(circle, rgba(250, 250, 250, 0.64) 0%, rgba(37,36,36,1) 100%);
  border-image-slice: 1;
  transition: all 0.3s ease 0s;
  @media (min-width: $tablet) {
    &:hover{
      background-color: rgba(0, 0, 0, 0.32);
    }
  }
}
.button {
  @include adaptiveValue("font-size", 16, 13, 600,320);
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 20px;
  transition: all 0.3s ease 0s;
  @include adaptiveValue("padding-right", 15, 7, 600,320);
  @include adaptiveValue("padding-left", 15, 7, 600,320);
  @include adaptiveValue("padding-top", 20, 12, 600,320);
  @include adaptiveValue("padding-bottom", 20, 12, 600,320);

}

//========================================================================================================================================================$1
//Burger
.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 10;
    margin: 15px 15px 0 0;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
    &::before {
      top: 0px;
    }
    &::after {
      bottom: 0px;
    }
    span {
      top: calc(50% - 1px);
    }
    .menu-open & {
      span {
        transform: scale(0);
      }
      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }
      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}

//========================================================================================================================================================$1


//========================================================================================================================================================$1
.about {
  padding: rem(150) 0;
&__cont{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
  // .about__title
  &__title {
    font-size: rem(60);
    @include adaptiveValue("font-size", 60, 23, 600,320);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: rem(50);
    position: relative;
    padding-bottom: rem(10);
    border-bottom: 4px solid #fff;

    //&::before {
    //  content: '';
    //  position: absolute;
    //  left: 0;
    //  bottom: 0;
    //  display: flex;
    //  justify-content: center;
    //  align-items: center;
    //  width: 210px;
    //  height: 4px;
    //  background-color: #ffffff;
    //  @include adaptiveValue("width", 210, 100,600,320);
    //  @media (max-width: em(581.98)) {
    //    left: 0;
    //  }
    //  @media (max-width: em(562.98)) {
    //    left: 2%;
    //  }
    //  @media (max-width: em(518.98)) {
    //    left: 6%;
    //  }
    //  @media (max-width: em(482.98)) {
    //    left: 11%;
    //  }
    //  @media (max-width: em(434.98)) {
    //    left: 15%;
    //  }
    //  @media (max-width: em(394.98)) {
    //    left: 19%;
    //  }
    //  @media (max-width: em(364.98)) {
    //    left: 24%;
    //  }
    //
    //}
  }

  // .about__content
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(30);
    flex-wrap: wrap;
    @media (max-width: em(1030.98)) {
     gap: rem(15);

    }
  }

  // .about__body
  &__body {
    flex: 0 1 31.333%;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.25);
    transition: all 1s ease 0.5s;
    padding: 30px 5px;
    //@media (max-width: em(543.98)) {
    //  flex: 1 1 90.333%;
    //  padding: 15px 0;
    //}
    @media (max-width: $tablet) {
      flex: 1 1 90.333%;
      padding: 15px 0;
    }
  }

  // .about__subtitle
  &__subtitle {
    font-size: rem(20);
    @include adaptiveValue("font-size", 20, 17, 600,320);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: rem(10);
  }

  // .about__text
  &__text {
    font-size: rem(17);
    @include adaptiveValue("font-size", 17, 15, 600,320);
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: rem(20);
  }
}

.title {
}
//========================================================================================================================================================$1


//========================================================================================================================================================$1


//========================================================================================================================================================$1
